{% extends "base.html" %}
{% block header %}
<title>{{ 'Privacy - Ünisearch' }}</title>
<link href="/static/css/landing.css" rel="stylesheet">
<link href="/static/css/terms.css" rel="stylesheet">

{% endblock %} 
{% block content %}

<div class="policy">
    <ul>
        <li>We do not store your information which can be trace to any individual such as IP, user agent, device id.
        </li><br>
        <li>Any search results is anonymized and untracable on our backend</li><br>
        <li>We do not bear any responsiblilty for any loss due to the shown results</li><br>
        <li>We do not bear any responsiblilty for any loss due to the shown results</li><br>
        <li>We may store your query results for analytic purpose to improve our service quality in an annoymized fashion</li><br>
    </ul>
</div>

{% endblock %} 


