{% extends "base.html" %}
{% block header %}
<title>{{ 'Terms - Universe' }}</title>
<link href="/static/css/landing.css" rel="stylesheet">
<link href="/static/css/terms.css" rel="stylesheet">

{% endblock %} 
{% block content %}

<div class="policy">
    <ul>
        <li>When you agree to use our service, you have agree to allow our service to store your query</li> <br>
        <li>Our results do not comply to GDPR compliance since we cannot explain how our model works  </li><br>
        <li>When you use our service you have agree that your are not from any GDPR region</li><br>
        <li>All materials shown in our results falls under the "fair use" act, we try to limit the information shown in our result as limited as possible without sacrifice the result quality</li><br>
    </ul>
    
</div>



{% endblock %} 


